// Background colors:
$grey-bg-one: #ffffff1a;
$grey-bg-two: #ffffff80;
$grey-bg-three: #3d3d3d;
$grey-bg-four: #333333;

$darkGrey-bg-one: #000000b3;
$darkGrey-bg-two: #000000e6;

$green-bg-one: #39ffbf;
$green-bg-two: #35ffbf;

$blue-bg-one: #537ceb;
$blue-bg-two: #1f1e38;

$darkBlue-text-four: #1f1e38b3;
$red-bg-two: #f00e2e;

// Text colors:
$grey-text-one: #ffffffb0;
$grey-text-two: #ffffff99;
$grey-text-three: #ffffff80;
$grey-text-four: #ffffffb3;
$grey-text-four: #ffffffcc;
$grey-text-four: #ffffff66;

$darkGrey-text-four: #aaa;
$darkGrey-text-four: #818a91;
$darkGrey-text-four: #888888;
$darkGrey-text-four: #444444;
$darkGrey-text-four: #3d3d3d;

$blue-text-four: #1bb0ce;

$darkBlue-text-four: #1f1e38b3;
$darkBlue-text-four: #1f1e3880;
$darkBlue-text-four: #1f1e3899;

$green-text-one: #39ffbf;

$red-text-one: #f81d39;

// Border colors:
$grey-border-one: #ffffff26;

// ------
$black: #000;
$white: #fff;
