.containerOne {
  width: 82%;
  margin: 0 auto;
}
.mainFooter {
  background-color: $blue-bg-two;
  padding: 40px 0px;
}

.footerUp {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $grey-bg-two;
  padding: 70px 0px;

  @include respond(tabPort) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
  }
}

.footerSocial ul {
  display: flex;
  list-style: none;
}

.footerSocial a {
  padding: 0px 10px;
  font-size: 20px;

  &:hover {
    color: $red-text-one;
  }
}

.ctaContent button {
  cursor: pointer;
}

.footerMenu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 0;

  li {
    margin: 0px 20px;
    color: $white;
    font-size: 1.4rem;
    cursor: pointer;

    & a:hover {
      color: $red-text-one;
    }
  }
}

.footerDown {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;

  & span {
    color: $white;
    font-size: 13px;

    & i {
      color: $darkBlue-text-four;
      font-size: 13px;
      position: absolute;
      top: 14px;
      left: 15px;
    }
  }
}

.arrpwUp {
  height: 40px;
  width: 40px;
  background-color: $white;
  border-radius: 50px;
  margin-left: 20px;
  display: inline-block;
  position: relative;
}

.footerDownRight {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.link {
  cursor: pointer;
}

// Floating button

.fabs {
  position: fixed;
  right: 33px;
  bottom: 20px;
}

.action {
  background: #527ceb;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  transition: background-color 0.4s;

  & i {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    cursor: pointer;
  }

  &:hover {
    background-color: #6f90e5;
  }
}

.btns {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  height: 35px;
  width: 35px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease-in-out;
  z-index: -1;
}

.btns.open {
  bottom: 60px;
}

.btnx {
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 60px;

  & i {
    position: absolute;
    font-size: 18px;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.wa {
  background-color: #25d366;
}

.env {
  background-color: #0099ff;
}

.ph {
  background-color: #df2029;
}

.rem {
  display: none;
}
