.mainAbout {
  background-color: $blue-bg-two;
  padding-bottom: 100px;
  width: 100%;
}

.about {
  display: flex;
  flex-wrap: wrap;

  & button {
    background-color: $red-bg-two;
    color: $white;
  }
}

.aboutImg {
  width: 55%;
  height: 900px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.aboutText {
  width: 45%;
  height: 900px;
  padding: 290px 115px;

  p {
    color: $white;
  }
}

.aboutTextTitle {
  h2 {
    color: $white;
    padding: 20px 0px;
    text-align: left;
  }
}

.aboutTextCta {
  width: 90%;
  height: 260px;
  background-color: $green-bg-two;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 176px;
}

.aboutTextCtaTitle {
  margin-left: 358px;
  width: 25%;
}

.aboutTextCtaContent {
  width: 30%;
}

.aboutTextCtaButton {
  align-self: flex-end;
  width: 20%;
  text-align: right;
}

button {
  background-color: $red-bg-two;

  h6 {
    color: $white;
  }
}

.line {
  @include linea;
}
