.mainServices {
  padding: 100px 0px 150px 0px;
}

.containerTwo {
  width: 63%;
  margin: 0 auto;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px;

  @include respond(tab768) {
    gap: 40px;
  }
}

.secondaryTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 358px;
  padding-bottom: 100px;

  & h3 {
    width: 60%;
  }

  & .line {
    height: 3px;
    display: block;
    width: 123%;
  }

  @include respond(tab768) {
    margin-left: 184px;
  }

  @include respond(tabPort) {
    margin-left: 147px;
  }

  @include respond(phone) {
    margin-left: 70px;
  }
}

.service {
  display: flex;
  width: 40%;
}

.iconService {
  background-color: $red-bg-two;
  height: 60px;
  width: 155px;
  border-radius: 50px;
  position: relative;
  margin-right: 50px;

  & i {
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
    font-size: 25px;
  }
}

.descriptionService p {
  padding-top: 20px;
}
