.boxCta {
  height: 470px;
  background-image: url(./images/business-people-working-together-on-project-and-B3MZ4TX.jpg);
  background-position-y: bottom;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  & button {
    background-color: $blue-bg-two;
  }
}

.ctaContent p {
  color: $white;
  padding-bottom: 30px;
}
